html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Semibold"), local("Lato-Semibold"),
    url("../fonts/latosemibold.woff2") format("woff2"),
    url("../fonts/latosemibold.woff") format("woff"),
    url("../fonts/latosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Medium"), local("Lato-Medium"),
    url("../fonts/latomedium.woff2") format("woff2"),
    url("../fonts/latomedium.woff") format("woff"),
    url("../fonts/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../fonts/latoregular.woff2") format("woff2"),
    url("../fonts/latoregular.woff") format("woff"),
    url("../fonts/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* lato-regular - latin */
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../fonts/lato-v16-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v16-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"),
    url("../fonts/rubik-v9-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v9-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local("Rubik Medium"), local("Rubik-Medium"),
    url("../fonts/rubik-v9-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v9-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-900 - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src: local("Rubik Black"), local("Rubik-Black"),
    url("../fonts/rubik-v9-latin_cyrillic-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v9-latin_cyrillic-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Lato";
  font-weight: normal;
  font-size: 1.2vw;
  color: #1a212f;
  box-sizing: border-box;
}
.menu-container_logo {
  width: 63px;
  height: 52px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1a212f;
}

.menu-container {
  font-weight: 600;
  font-size: 16px;
  padding: 12px 98px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.menu-container_ul {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.menu_a:hover,
.menu_a:focus {
  color: #ff9b53;
}
.menu-container_ul_item{
  margin-right: 30px;
}
.menu-container_ul_item:last-child {
  margin-right: 0px;
}
.promo_banner {
  height: 35vw;
  background: url(/img/cat-main.png) no-repeat;
  background-size: 100%;
  padding: 9.5vw 12.3vw 0px 12.3vw;
  margin-bottom: 10px;
}
.promo_banner p {
  line-height: 17px;
  margin-bottom: 1.2vw;
}
.promo_banner h1 {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 3.8vw;
  line-height: 73px;
  margin-bottom: 1.5vw;
}
.promo_banner h2 {
  font-weight: 500;
  font-size: 1.4vw;
  line-height: 24px;
  margin-bottom: 2.5vw;
}
.small-button {
  border-radius: 22px;
  width: 206px;
  height: 50px;
  background: url(/img/button_bg.svg) no-repeat 50% 41%;
  padding: 7px 6px 7px 30px;
  align-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.paw-icon {
  width: 36px;
  height: 36px;
  margin-left: 16px;
}
.promo_banner_button-booking {
  border-radius: 22px;
  width: 206px;
  height: 50px;
}

.promo_banner_button-booking:hover {
  opacity: 75%;
}
.bg_paw {
  position: absolute;
  width: 375px;
  height: 365px;
  right: -90px;
  /* left: 1257px; */
  /* top: 595px; */
  z-index: -1;
}
html {
  overflow-x: hidden;
}
.advantages__heading {
  margin-top: 140px;
}
.advantages__heading,
.rooms h1,
.reviews h1,
.contacts h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 70px;
}
.advantages_grid-container {
  display: grid;
  margin: 0 auto 140px auto;
  justify-content: center;
  gap: 20px 30px;
  grid: repeat(auto-fit, minmax(321px, 310px)) / repeat(
      auto-fit,
      minmax(345px, 400px)
    );
  /* grid-template: 321px 321px / 370px 370px 370px; */
}
.card {
  /* z-index: 100; */
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  background-color: white;
  z-index: 10;
  padding: 30px;
}
.card-img {
  width: 91px;
  height: 91px;
  margin-bottom: 25px;
}
.card__heading {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 10px;
}
.card__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
}
.bg-fish {
  position: absolute;
  width: 484px;
  height: 151px;
  left: 0;
  /* top: 1655px; */
  z-index: -1;
}
.room-img {
  width: 37.5vw;
  height: 25.2vw;
}
.room {
  position: relative;
  width: 64.3vw;
  height: 25.2vw;
  margin: 0 auto 55px auto;
}
.description-room {
  position: absolute;
  width: 31.2vw;
  height: 17.7vw;
  top: 3.75vw;
  left: 33.1vw;
  padding-top: 2.5vw;
  padding-left: 6.2vw;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}
.rooms h2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 26px;
  margin-bottom: 1.3vw;
}
.description-room li {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  line-height: 19px;
  list-style-position: inside;
  list-style-image: url(/img/marker.svg);
  margin-bottom: 1vw;
}
.description-room li:last-child {
  margin-bottom: 1.5vw;
}
.small-button-2 {
  border-radius: 22px;
  width: 206px;
  height: 50px;
  background: url(/img/button_bg-2.svg) no-repeat 50% 41%;
  padding: 7px 5px 7px 30px;
  align-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fffefd;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.paw-icon-2 {
  width: 40px;
  height: 40px;
  margin-left: 14px;
}
.dots {
  display: block;
  width: 60px;
  height: 12px;
  margin: auto;
}
.arrow-right {
  position: absolute;
  bottom: -90px;
  right: -5px;
}
.arrow-left {
  position: absolute;
  bottom: -90px;
  right: 45px;
}

.rooms {
  margin-bottom: 140px;
}
.rewiew {
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  width: 30vw;
  margin-right: 30px;
  position: relative;
  padding: 25px 35px 35px 70px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 55px;
}
.rewiew:last-child {
  margin-right: 0;
}
.rewiew-container {
  display: flex;
  justify-content: center;
}
.quote {
  position: absolute;
  top: 35px;
  left: 35px;
}
.rewiew p {
  margin-bottom: 25px;
}
.rewiew span {
  display: inline-block;
  font-family: Lato;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: black;
  bottom: 30px;
}
.rewiew span:last-child {
  right: 35px;
}
.reviews {
  position: relative;
  margin-bottom: 152px;
}
.arrow-right-2 {
  position: absolute;
  margin-top: -17px;
  right: 15.5vw;
}
.arrow-left-2 {
  position: absolute;
  margin-top: -17px;
  right: 19vw;
}
.address {
  background-color: #fac663;
  width: 40%;
  height: 47vw;
  padding-top: 5vw;
  padding-left: 13%;
}
.map {
  width: 60vw;
  height: 47vw;
}
.contacts-container {
  display: flex;
}
.address h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 1vw;
}
.address p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 2.4vw;
}
.contacts h1 {
  text-align: left;
  margin-bottom: 3.7vw;
}
.contacts .icon {
  margin-right: 20px;
}
.footer-nav .menu-container {
  padding: 12px 170px 12px 158px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  padding: 20px 170px 20px 158px;
  border-top: 1px solid #efefef;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #8f8f8f;
}
@media (min-width: 800px) and (max-width: 1200px) {
  /* .grid-container {
    grid-template: 321px 321px 321px / 370px 370px;
  } */
  .rewiew:last-child {
    display: none;
  }
  .rewiew {
    width: 40vw;
  }
  .description-room {
    width: 30vw;
    height: 22vw;
    top: 2vw;
    left: 33.1vw;
    padding-top: 2vw;
    padding-left: 4.2vw;
  }
  .address {
    padding-top: 2vw;
    padding-left: 7%;
  }
  .address h1 {
    margin-bottom: 2.5vw;
  }
  .address h3 {
    margin-bottom: 0.5vw;
  }
  .address p {
    margin-bottom: 1.5vw;
  }
}
@media (max-width: 800px) {
  .menu-container_logo {
    width: 53px;
    height: 42px;
  }
  .menu-container {
    /* width: 520px; */
    padding: 12px 43px;
  }
  .menu-container_ul {
    font-size: 1.8vw;
  }
  .menu-container_ul_item{
    margin-right: 15px;
  }
  html {
    overflow-x: hidden;
  }
  .promo_banner {
    background: url(/img/cat-main-min.png) no-repeat;
    background-size: 100%;
    height: 110vw;
    text-align: center;
    padding-top: 10vw;
    padding-bottom: 0px;
  }
  .promo_banner p {
    font-size: 14px;
  }
  .promo_banner h1 {
    font-size: 62px;
  }
  .promo_banner h2 {
    font-size: 20px;
  }
  .advantages__heading {
    margin-top: 70px;
  }
  .promo_banner_button-booking {
    margin: auto;
  }
  /* .grid-container {
    grid-template: 331px 331px 331px / 345px 345px;
  } */
  .rewiew:last-child,
  .rewiew:nth-child(2) {
    display: none;
  }
  .room-img {
    width: 55vw;
    height: 40vw;
  }
  .description-room {
    width: 45vw;
    height: 33vw;
  }
  .description-room li, .rooms h2{
    font-size: 1.9vw;
  }
  .arrow-right {
    bottom: -90px;
    right: -5px;
  }
  .arrow-left {
    bottom: -90px;
    right: 45px;
  }
  .room {
    position: relative;
    width: 64.3vw;
    height: 40vw;
    margin: 0 auto 55px auto;
  }
  .rewiew {
    min-width: 360px;
    width: 60vw;
    margin-right: 0px;
  }
  .arrow-left-2 {
    right: 22vw;
  }
  .address {
    padding-top: 2vw;
    padding-left: 4%;
    height: 360px;
  }
  .map{
    height: 360px;
  }
  .address h1 {
    font-size: 3.5vw;
    margin-bottom: 2vw;
  }
  .address h3 {
    font-size: 2vw;
    margin-bottom: 0.3vw;
  }
  .address p {
    margin-bottom: 1vw;
    font-size: 2vw;
  }
  .footer-nav .menu-container, .copyright {
  padding: 12px 10px 12px 68px;
}
}

@media (max-width: 450px) {
  .menu-container_ul {
    font-size: 2vw;
  }
  .promo_banner {
    padding-top: 50px;
    height: 450px;
  }
  .advantages__heading {
    margin: 70px 0 50px;
  }
  .advantages_grid-container {
    /* grid-template: 331px 331px 331px 331px 331px 331px/ 345px; */
    margin-bottom: 70px;
  }
  .room-img {
    width: 100vw;
    height: 70vw;
  }
  .room {
    margin: 0 0 55px 0;
    height: 120vw;
    width: 100vw;
  }
  .description-room {
    width: 93vw;
    height: 50vw;
    position: static;
    margin: 15px;
    padding: 25px;
  }
  .rooms h2 {
    font-size: 20px;
  }
  .rooms li {
    font-size: 16px;
  }
  .rooms {
    margin-bottom: 70px;
  }
  .rewiew {
    width: 90vw;
    margin-right: 0;
  }
  .arrow-left-2 {
    right: 26vw;
  }
  .reviews {
    margin-bottom: 70px;
  }
  .contacts-container {
    flex-direction: column;
  }
  .address {
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
  }
  .address h1 {
    text-align: center;
  }
  .address p,
  .address h3 {
    font-size: 14px;
  }
  .map {
    width: 100%;
    height: auto;
  }
  .footer-nav .menu-container {
    padding: 6px 45px;
  }
  .copyright {
    padding: 6px 25px;
  }
}
